# Environment
.env
.venv/
venv/

# Python cache & logs
__pycache__/
*.pyc
*.pyo
*.log

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Hugging Face models
models/

# Streamlit
.streamlit/cache/
.streamlit/

# Optional test data
*.sqlite
*.pdf
*.docx
*.txt

# MyPy
.mypy_cache/
